# Example MySQL config file for very large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# MySQL.
#
# MySQL programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the --help option.

# The following options will be passed to all MySQL clients
[client]
#password       = your_password
port=39316
socket=/Percona-Server-5.6.24/mysqld-39316.sock
default-character-set=utf8
# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port=39316
socket=/Percona-Server-5.6.24/mysqld-39316.sock
datadir=/Percona-Server-5.6.24/data
basedir=/Percona-Server-5.6.24
server-id=1
log-bin=/Percona-Server-5.6.24/mylog
#bind-address = 0.0.0.0
#sha256_password_private_key_path = /Percona-Server-5.6.24/data/mykey.pem
#sha256_password_public_key_path = /Percona-Server-5.6.24/data/mykey.pub

character_set_server = utf8
collation_server = utf8_bin
log-bin-trust-function-creators = 1
init_connect = 'set autocommit = 0'
transaction_isolation = READ-COMMITTED
lower_case_table_names = 1
expire_logs_days = 7
#skip-grant-tables
skip-name-resolve
skip-external-locking

# BASE MEMORY,global_buffers like SGA of oracle
innodb_buffer_pool_size = 2048M
innodb_additional_mem_pool_size = 16M
innodb_log_buffer_size = 64M
key_buffer_size = 64M
#query_cache_size = 256M
query_cache_size = 0
#query_cache_type = 1
query_cache_type = 0
query_cache_limit = 2M
query_cache_min_res_unit = 2k

# MEMORY PER CONNECTION,per_thread_buffers like PGA of oracle
read_buffer_size = 512K
read_rnd_buffer_siz = 512K
sort_buffer_size = 512K
thread_stack = 256K
join_buffer_size = 512K
binlog_cache_size = 512K

max_connections = 1024
#max_user_connections = 512
max_connect_errors = 10000

open_files_limit = 10240
max_allowed_packet = 128M
max_heap_table_size = 64M
table_open_cache = 3072
table_definition_cache = 2048
thread_cache_size = 64
innodb_io_capacity = 2000
innodb_file_format = Barracuda
#innodb_read_io_threads = 10
#innodb_write_io_threads = 6
back_log = 1024
wait_timeout = 7200
interactive_timeout = 7200
# Try number of CPU's*2 for thread_concurrency
#thread_concurrency = 16
tmp_table_size = 64M
max_tmp_tables = 256
#bulk_insert_buffer_size = 4M
bulk_insert_buffer_size = 32M
binlog_format = row
max_binlog_size = 128M
max_binlog_cache_size = 32M
#log-queries-not-using-indexes
innodb_log_file_size = 256M
innodb_lock_wait_timeout = 100
#innodb_flush_log_at_trx_commit = 1
innodb_flush_log_at_trx_commit = 2
slow_query_log
long_query_time = 2
#log-bin=mysql-bin
explicit_defaults_for_timestamp = TRUE
net_buffer_length = 2K
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_safe]
pid-file=/Percona-Server-5.6.24/mysql-39316.pid
log-error=/Percona-Server-5.6.24/mysql-39316.err

[mysqldump]
quick
max_allowed_packet = 128M
[mysql]
no-auto-rehash
[myisamchk]
key_buffer_size = 64M
sort_buffer_size = 512K
read_buffer = 512K
write_buffer = 512K

[mysqlhotcopy]
interactive-timeout
